<!-- <div>
    <div class="dashboard-sidebar-inner" data-simplebar>
        <div class="dashboard-nav-container">
            <a class="dashboard-responsive-nav-trigger">
                <span class="hamburger hamburger--collapse">
                    <span class="hamburger-box">
                        <span class="hamburger-inner"></span>
                    </span>
                </span>
                <span class="trigger-title">Dashboard Navigation</span>
            </a>

 
            <div class="dashboard-nav">
                <div class="dashboard-nav-inner">
                    <ul data-submenu-title="Start">
                        <li routerLinkActive="active">
                            <a routerLink="dashboard"> Dashboard</a>
                        </li>
                                                
                    </ul>
                    <ul data-submenu-title="Orders">
                        <li routerLinkActive="active">
                            <a routerLink="orders"> Orders</a>
                        </li>

                    </ul>
                    <ul data-submenu-title="services">
                        <li routerLinkActive="active">
                            <a routerLink="services"> Services</a>
                        </li>

                    </ul>
                    <ul data-submenu-title="Free Samples">
                        <li routerLinkActive="active">
                            <a routerLink="free-samples"> Free Samples</a>
                        </li>

                    </ul>


                    <ul data-submenu-title="Contacted">
                        <li routerLinkActive="active">
                            <a routerLink="contacts"> Contacted</a>
                        </li>

                    </ul>



                    <ul data-submenu-title="Account">
                        <li routerLinkActive="active"><a routerLink="settings">Settings</a></li>
                        <li routerLinkActive="active"><a>Logout</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div> -->


<header>

    <nav class="navbar navbar-expand-lg navbar-light navbar-bg">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a routerLink="users" class="nav-link">Users</a>
                    </li>
                    <li class="nav-item">
                        <a routerLink="orders" class="nav-link" >Orders</a>
                    </li>
                    <li class="nav-item">
                        <a routerLink="subscription" class="nav-link">Subscription</a>
                    </li>
                    <li class="nav-item">
                        <a routerLink="dripfeed" class="nav-link" >Drip-feed</a>
                    </li>
                    <li class="nav-item">
                        <a routerLink="tasks" class="nav-link" >Tasks</a>
                    </li>
                    <li class="nav-item">
                        <a routerLink="services" class="nav-link">Services</a>
                    </li>
                    <li class="nav-item">
                        <a routerLink="packages" class="nav-link">Packages</a>
                    </li>
                    <li class="nav-item">
                        <a routerLink="payments" class="nav-link">Payments</a>
                    </li>
                    <li class="nav-item">
                        <a routerLink="tickets" class="nav-link">Tickets</a>
                    </li>
                    <li class="nav-item">
                        <a routerLink="reports" class="nav-link">Reports</a>
                    </li>
                    <li class="nav-item">
                        <a routerLink="appearance" class="nav-link">Appearance</a>
                    </li>
                    <li class="nav-item">
                        <a routerLink="settings" class="nav-link">Settings</a>
                    </li>
                </ul>
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link"><i class="fas fa-moon-o" aria-hidden="true"></i></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link">Account</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link">Logout</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

</header>