<main>
    <section>
        <div class="container-fluid">
            <div class="row no-gutters">
                <ul class="nav nav-pills">
                    <li class="nav-item">
                        <a class="nav-link btn btn-default" >Add ticket</a>
                    </li>
                </ul>
                <ul class="nav nav-pills ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" >Show unread</a>
                    </li>
                    <li class="nav-item">
                        <div class="input-group">
                            <input type="text" name="search" class="form-control" value="" placeholder="Search users"
                                aria-controls="example">
                            <span>
                                <div class="dropdown">
                                    <button class="btn btn-default dropdown-toggle" type="button"
                                        id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                                        aria-expanded="false">
                                        Ticket ID
                                    </button>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                        <a class="dropdown-item" >Subject</a>
                                        <a class="dropdown-item" >Message</a>
                                        <a class="dropdown-item" >User</a>
                                    </div>
                                </div>
                            </span>
                            <span class="input-group-btn">
                                <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                            </span>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="container-fluid">
            <table class="table">
                <thead>
                    <tr>
                        <th><input id="selectAll" type="checkbox"></th>
                        <th>ID</th>
                        <th>User</th>
                        <th>Subject</th>
                        <th class="dropdown-th">
                            <div class="dropdown">
                                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenuButton"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Status
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <a class="dropdown-item" >All(0)</a>
                                    <a class="dropdown-item" >Pending(0)</a>
                                    <a class="dropdown-item" >Answered(0)</a>
                                    <a class="dropdown-item" >Closed(0)</a>
                                </div>
                            </div>
                        </th>

                        <th>Created</th>
                        <th>Last Update</th>

                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><input type="checkbox" name="group[19][8]" value="8" /></td>
                        <td>84562</td>
                        <td>followiz</td>
                        <td><a routerLink="/ticket-message">Order</a></td>
                        <td>Pending</td>
                        <td>2020-05-17 01:55:16</td>
                        <td>2020-05-17 16:57:19</td>
                    </tr>
                    <tr>
                        <td><input type="checkbox" name="group[19][8]" value="8" /></td>
                        <td>84562</td>
                        <td>followiz</td>
                        <td><a routerLink="/ticket-message">Order</a></td>
                        <td>Pending</td>
                        <td>2020-05-17 01:55:16</td>
                        <td>2020-05-17 16:57:19</td>
                    </tr>
                    <tr>
                        <td><input type="checkbox" name="group[19][8]" value="8" /></td>
                        <td>84562</td>
                        <td>followiz</td>
                        <td><a routerLink="/ticket-message">Order</a></td>
                        <td>Pending</td>
                        <td>2020-05-17 01:55:16</td>
                        <td>2020-05-17 16:57:19</td>
                    </tr>
                    <tr>
                        <td><input type="checkbox" name="group[19][8]" value="8" /></td>
                        <td>84562</td>
                        <td>followiz</td>
                        <td><a routerLink="/ticket-message">Order</a></td>
                        <td>Pending</td>
                        <td>2020-05-17 01:55:16</td>
                        <td>2020-05-17 16:57:19</td>
                    </tr>
                    <tr>
                        <td><input type="checkbox" name="group[19][8]" value="8" /></td>
                        <td>84562</td>
                        <td>followiz</td>
                        <td><a routerLink="/ticket-message">Order</a></td>
                        <td>Pending</td>
                        <td>2020-05-17 01:55:16</td>
                        <td>2020-05-17 16:57:19</td>
                    </tr>
                    <tr>
                        <td><input type="checkbox" name="group[19][8]" value="8" /></td>
                        <td>84562</td>
                        <td>followiz</td>
                        <td><a routerLink="/ticket-message">Order</a></td>
                        <td>Pending</td>
                        <td>2020-05-17 01:55:16</td>
                        <td>2020-05-17 16:57:19</td>
                    </tr>
                    <tr>
                        <td><input type="checkbox" name="group[19][8]" value="8" /></td>
                        <td>84562</td>
                        <td>followiz</td>
                        <td><a routerLink="/ticket-message">Order</a></td>
                        <td>Pending</td>
                        <td>2020-05-17 01:55:16</td>
                        <td>2020-05-17 16:57:19</td>
                    </tr>
                    <tr>
                        <td><input type="checkbox" name="group[19][8]" value="8" /></td>
                        <td>84562</td>
                        <td>followiz</td>
                        <td><a routerLink="/ticket-message">Order</a></td>
                        <td>Pending</td>
                        <td>2020-05-17 01:55:16</td>
                        <td>2020-05-17 16:57:19</td>
                    </tr>
                </tbody>
            </table>

        </div>
    </section>
</main>