<main>
    <section>
        <div class="container-fluid">
            <div class="row no-gutters">
                <ul class="nav nav-pills">
                    <li class="nav-item">
                        <a class="nav-link active"  >All orders</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link">Active</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link">Paused</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link">Completed</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link">Canceled</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link">Expired</a>
                    </li>
                </ul>
                <ul class="nav nav-pills ml-auto">
                    <li class="nav-item">
                        <div class="input-group">
                            <input type="text" name="search" class="form-control" value="" placeholder="Search"
                                aria-controls="example">
                            <span>
                                <div class="dropdown">
                                    <button class="btn btn-default dropdown-toggle" type="button"
                                        id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                                        aria-expanded="false" style="padding: .475rem .75rem !important">
                                        Order ID
                                    </button>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                        <a class="dropdown-item">Order ID</a>
                                        <a class="dropdown-item">User</a>
                                        <a class="dropdown-item">Username</a>
                                        <a class="dropdown-item">External ID</a>
                                    </div>
                                </div>
                            </span>
                            <span class="input-group-btn">
                                <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                            </span>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="container-fluid">
            <table class="table">
                <thead>
                    <tr>
                        <th><input id="selectAll" type="checkbox"></th>
                        <th>ID</th>
                        <th>User</th>
                        <th>Username</th>
                        <th>Quantity</th>
                        <th>Posts</th>
                        <th class="dropdown-th">
                            <div class="dropdown">
                                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenuButton"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Delay
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <a class="dropdown-item">All(11)</a>
                                    <a class="dropdown-item">No delay(11)</a>
                                    <a class="dropdown-item">5 minutes(11)</a>
                                    <a class="dropdown-item">10 minutes(11)</a>
                                    <a class="dropdown-item">15 minutes(11)</a>
                                    <a class="dropdown-item">30 minutes(11)</a>
                                    <a class="dropdown-item">60 minutes(11)</a>
                                    <a class="dropdown-item">90 minutes(11)</a>
                                </div>
                            </div>
                        </th>
                        <th class="dropdown-th">
                            <div class="dropdown">
                                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenuButton"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Service
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <a class="dropdown-item"  ></a>

                                </div>
                            </div>
                        </th>
                        <th>Status</th>
                        <th>Created</th>
                        <th>Updated</th>
                        <th>Expiry</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><input type="checkbox" name="group[19][8]" value="8" /></td>
                        <td>88591</td>
                        <td>followiz</td>
                        <td>The_trashpool_side_</td>
                        <td>3000 — 99999</td>
                        <td>0 / ∞</td>
                        <td> 15 minutes</td>
                        <td><span class="views-badge">2152</span></td>
                        <td>Canceled</td>
                        <td>2019-12-30 18:37:21</td>
                        <td>2019-12-30 18:37:22</td>
                        <td>2019-12-30</td>
                        <td>
                            <div class="dropdown pull-right">
                                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenuButton"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Actions
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <a class="dropdown-item">Detailsr</a>
                                    <a class="dropdown-item">Cancel</a>
                                    <a class="dropdown-item">Change status</a>
                                </div>
                            </div>
                        </td>
                    </tr>

                    <tr>
                        <td><input type="checkbox" name="group[19][8]" value="8" /></td>
                        <td>88591</td>
                        <td>followiz</td>
                        <td>The_trashpool_side_</td>
                        <td>3000 — 99999</td>
                        <td>0 / ∞</td>
                        <td> 15 minutes</td>
                        <td><span class="views-badge">2152</span></td>
                        <td>Canceled</td>
                        <td>2019-12-30 18:37:21</td>
                        <td>2019-12-30 18:37:22</td>
                        <td>2019-12-30</td>
                        <td>
                            <div class="dropdown pull-right">
                                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenuButton"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Actions
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <a class="dropdown-item">Detailsr</a>
                                    <a class="dropdown-item">Cancel</a>
                                    <a class="dropdown-item">Change status</a>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td><input type="checkbox" name="group[19][8]" value="8" /></td>
                        <td>88591</td>
                        <td>followiz</td>
                        <td>The_trashpool_side_</td>
                        <td>3000 — 99999</td>
                        <td>0 / ∞</td>
                        <td> 15 minutes</td>
                        <td><span class="views-badge">2152</span></td>
                        <td>Canceled</td>
                        <td>2019-12-30 18:37:21</td>
                        <td>2019-12-30 18:37:22</td>
                        <td>2019-12-30</td>
                        <td>
                            <div class="dropdown pull-right">
                                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenuButton"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Actions
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <a class="dropdown-item">Detailsr</a>
                                    <a class="dropdown-item">Cancel</a>
                                    <a class="dropdown-item">Change status</a>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td><input type="checkbox" name="group[19][8]" value="8" /></td>
                        <td>88591</td>
                        <td>followiz</td>
                        <td>The_trashpool_side_</td>
                        <td>3000 — 99999</td>
                        <td>0 / ∞</td>
                        <td> 15 minutes</td>
                        <td><span class="views-badge">2152</span></td>
                        <td>Canceled</td>
                        <td>2019-12-30 18:37:21</td>
                        <td>2019-12-30 18:37:22</td>
                        <td>2019-12-30</td>
                        <td>
                            <div class="dropdown pull-right">
                                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenuButton"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Actions
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <a class="dropdown-item">Detailsr</a>
                                    <a class="dropdown-item">Cancel</a>
                                    <a class="dropdown-item">Change status</a>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td><input type="checkbox" name="group[19][8]" value="8" /></td>
                        <td>88591</td>
                        <td>followiz</td>
                        <td>The_trashpool_side_</td>
                        <td>3000 — 99999</td>
                        <td>0 / ∞</td>
                        <td> 15 minutes</td>
                        <td><span class="views-badge">2152</span></td>
                        <td>Canceled</td>
                        <td>2019-12-30 18:37:21</td>
                        <td>2019-12-30 18:37:22</td>
                        <td>2019-12-30</td>
                        <td>
                            <div class="dropdown pull-right">
                                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenuButton"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Actions
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <a class="dropdown-item">Detailsr</a>
                                    <a class="dropdown-item">Cancel</a>
                                    <a class="dropdown-item">Change status</a>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td><input type="checkbox" name="group[19][8]" value="8" /></td>
                        <td>88591</td>
                        <td>followiz</td>
                        <td>The_trashpool_side_</td>
                        <td>3000 — 99999</td>
                        <td>0 / ∞</td>
                        <td> 15 minutes</td>
                        <td><span class="views-badge">2152</span></td>
                        <td>Canceled</td>
                        <td>2019-12-30 18:37:21</td>
                        <td>2019-12-30 18:37:22</td>
                        <td>2019-12-30</td>
                        <td>
                            <div class="dropdown pull-right">
                                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenuButton"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Actions
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <a class="dropdown-item">Detailsr</a>
                                    <a class="dropdown-item">Cancel</a>
                                    <a class="dropdown-item">Change status</a>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td><input type="checkbox" name="group[19][8]" value="8" /></td>
                        <td>88591</td>
                        <td>followiz</td>
                        <td>The_trashpool_side_</td>
                        <td>3000 — 99999</td>
                        <td>0 / ∞</td>
                        <td> 15 minutes</td>
                        <td><span class="views-badge">2152</span></td>
                        <td>Canceled</td>
                        <td>2019-12-30 18:37:21</td>
                        <td>2019-12-30 18:37:22</td>
                        <td>2019-12-30</td>
                        <td>
                            <div class="dropdown pull-right">
                                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenuButton"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Actions
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <a class="dropdown-item">Detailsr</a>
                                    <a class="dropdown-item">Cancel</a>
                                    <a class="dropdown-item">Change status</a>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td><input type="checkbox" name="group[19][8]" value="8" /></td>
                        <td>88591</td>
                        <td>followiz</td>
                        <td>The_trashpool_side_</td>
                        <td>3000 — 99999</td>
                        <td>0 / ∞</td>
                        <td> 15 minutes</td>
                        <td><span class="views-badge">2152</span></td>
                        <td>Canceled</td>
                        <td>2019-12-30 18:37:21</td>
                        <td>2019-12-30 18:37:22</td>
                        <td>2019-12-30</td>
                        <td>
                            <div class="dropdown pull-right">
                                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenuButton"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Actions
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <a class="dropdown-item">Detailsr</a>
                                    <a class="dropdown-item">Cancel</a>
                                    <a class="dropdown-item">Change status</a>
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>

        </div>
    </section>
</main>