<div class="container-fluid table-outer">
    <div class="table-responsive table-inner">
        <div class="table-heading">
            <h2>Users</h2>
        </div>

        <!--Table Start-->
        <div class="w-100">
            <table mat-table [dataSource]="dataSource" matSort (matSortChange)="announceSortChange($event)"
                class="mat-elevation-z8 w-100">

                <!-- service_code Column -->
                <ng-container matColumnDef="fullName">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by fullName">
                        Full Name </th>
                    <td mat-cell *matCellDef="let element"> {{element.fullName}} </td>
                </ng-container>

                <!-- name Column -->
                <ng-container matColumnDef="phone">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by phone">
                        phone
                    </th>
                    <td mat-cell *matCellDef="let element">{{element.phone}}</td>
                </ng-container>

                <!-- category Column -->
                <ng-container matColumnDef="email">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by email">
                        Email
                    </th>
                    <td mat-cell *matCellDef="let element"> {{element.email}} </td>
                </ng-container>

                <!-- link Column -->
                <ng-container matColumnDef="cart_items">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by cart_items">
                        Cart Items
                    </th>
                    <td mat-cell *matCellDef="let element">{{element.cart_items}} </td>
                </ng-container>

                <!-- rate Column -->
                <ng-container matColumnDef="user_status">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by user_status">
                        Status
                    </th>
                    <td mat-cell *matCellDef="let element"> {{element.user_status}} </td>
                </ng-container>

                <!-- Symbol Column -->
                <ng-container matColumnDef="role">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by role">
                        Role
                    </th>
                    <td mat-cell *matCellDef="let element"> {{element.role}} </td>
                </ng-container>

                <ng-container matColumnDef="options">
                    <th mat-header-cell *matHeaderCellDef> action </th>
                    <td mat-cell *matCellDef="let element">
                        <div class="dropdown">
                            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenuButton"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Actions
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a id="Deletes" #Deletes class="dropdown-item" (click)="openDialogWithRef(firstDialog, 'Delete')">Delete</a>
                                <a id="Blocks" #Blocks class="dropdown-item" (click)="openDialogWithRef(firstDialog, 'Block')">Block</a>
                                <!-- <a class="dropdown-item">Suspend user</a> -->
                            </div>
                        </div>

                        <ng-template #firstDialog>
                            <h2 matDialogTitle>Delete User!</h2>
                            <p matDialogContent><em>Are you sure, you would like to {{userStatus}} user ?</em></p>
                            <mat-dialog-actions align="end">
                                <button *ngIf="userStatus == 'Delete'" (click)="deleteUser(element)"
                                    class="btn btn-danger mr-1">Delete</button>
                                <button *ngIf="userStatus == 'Block'" (click)="blockUser(element)"
                                    class="btn btn-danger mr-1">Block</button>
                                <button class="btn" mat-button matDialogClose>Dismiss</button>
                            </mat-dialog-actions>
                        </ng-template>

                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>

            <mat-paginator [length]="ordersResults" [pageSize]="10"></mat-paginator>


        </div>

    </div>
    <!--Table End-->
</div>