.add_card_modal{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #0000009c;
    z-index: 1900;
}
.add-card{
    background: #ffffff;
    max-width: 700px;
    min-width: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 0 5px 0 #d4d4d4;
}
.close-svg-model{
    position: absolute;
    z-index: 4;
    width: 20px;
    right: -10px;
    top: -10px;
    cursor: pointer;
}

.example-container {
    display: flex;
    flex-direction: column;
    max-height: 500px;
    min-width: 300px;
  }
  
  .mat-table {
    overflow: auto;
    max-height: 500px;
  }
  