<main>
    <section>
        <div class="container">
            <div class="col-md-10 offset-md-1">
                <div class="card card-default">
                    <div class="card-header">
                        <h4>Other
                            <span class="float-right">ID: 59</span>
                        </h4>
                    </div>
                    <div class="card-body">
                        <form class="form">
                            <textarea rows="5" class="form-control"></textarea>
                            <div class="d-flex py-2">
                                <a href="#" class="btn btn-primary">Submit reply</a>
                                <div class="dropdown">
                                    <button class="btn btn-default dropdown-toggle" type="button"
                                        id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                                        aria-expanded="false" style="padding: .475rem .75rem !important">
                                        Close ticket
                                    </button>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                        <a class="dropdown-item" href="#">Mark as read</a>
                                        <a class="dropdown-item" href="#">Close and lock<i
                                                class="fa fa-exclamation-circle"></i></a>
                                        <a class="dropdown-item" href="#">Delete ticket</a>
                                    </div>
                                </div>
                            </div>
                            <hr>

                            <div class="ticketmsg">
                                <div class="msg-header">
                                    <strong>safonov</strong>
                                    <div>
                                        <p class="msg-date">2020-06-09 13:26:37</p>
                                    </div>
                                </div>
                                <div class="msg-body">
                                    <div class="msg-text">
                                        <div class="msg-graph">Hello. I would like to offer you to cooperate with our
                                            service using API, for automatic order processing. I noticed that some
                                            positions on services from us are much cheaper, maybe you will be interested
                                            to buy these positions from us. You can see the prices on our website, and
                                            for sure you can find something for yourself. We also have 24/7 technical
                                            support. The average waiting time is 2 hours, depending on the load. If you
                                            are interested in our offer, we will be glad to see you, we are always ready
                                            for dialogue. To contact us, you can use the ticket system on the site
                                            https://smm4top.com/ or write to the address smm4top@gmail.com<br>
                                            <br>
                                            We also accept payments through PayPal and WebMoney.
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>