<div>
    <div>
        <div class="row ">
            <div class="col-md-4">
                <!--User Profile Details Start-->
                <!-- <div class="profile-info" id="profile-upload">
                    <div class="hvr-profile-img"><input type="file" name="logo" id='getval' class="upload w180" title="Dimensions 180 X 180" id="imag"></div>
                    <i class="fa fa-camera"></i>
                </div> -->
                <form class="form-btn h-100">
                    <div class="profile-info h-100">
                        <div class="avatar-upload">
                            <div class="avatar-edit">
                                <input type='file' id="imageUpload" (change)="fileChange($event)"
                                    accept=".png, .jpg, .jpeg" />
                                <label for="imageUpload"></label>
                            </div>
                            <div class="avatar-preview">
                                <img *ngIf="imageRead==1" id="imagePreview" style="border-radius:50%"
                                    class="h-100 w-100" [src]="imgURL" alt="">
                                <!-- <div id="imagePreview" *ngIf="imageRead==0" style="background-image: url(imgURL);"></div> -->
                                <div id="imagePreview" *ngIf="imageRead==0 && !imgExists"
                                    style="background-image: url(../../../../../../assets/images/account.png);">




                                </div>
                                <img *ngIf="imageRead==0 && imgExists" id="imagePreview" style="border-radius:50%"
                                    class="h-100 w-100" src={{this.userDetials}} alt="">
                            </div>
                        </div>
                        <!-- <input type="submit" value="Upload" class="submit-btn" id="upload-btn"> -->
                        <p>{{userName()}}</p>
                        <button class='save' (click)="saveProfileImage()" [disabled]="!imageChanged">Save</button>
                    </div>
                </form>
                <!--User Profile Details End-->
            </div>
            <div class="col-md-8">
                <!--User Other Details Start-->
                <h3>Profile Details</h3>
                <div class="other-details">
                    <a (click)="editForm('btn-edit','editable-form')" id="btn-edit" class="edit-btn">Edit</a>
                    <form class="edit-form form--disabled" id="editable-form" #profileForm="ngForm">
                        <input type="text" name="name" class="form-control  box-border-none" [(ngModel)]="basicProfile.fullName" #name="ngModel"  disabled  [class.border-red]="(name.touched || name.dirty) && !name.valid" required style="font-weight: 600" />
                        <input type="email" name="email" class="form-control box-border-none" [(ngModel)]="basicProfile.email" #email="ngModel" disabled pattern="[A-Za-zzÄÖÜäöüß0-9._%+-]+@[a-zA-Z0-9.-]+\.[A-Za-z]{2,}$" [class.border-red]="(email.touched || email.dirty) && !email.valid"  required>
                        <span *ngIf="email.invalid && (email.dirty || email.touched)">
                            <small  *ngIf="email.errors.pattern" class="form-control-feedback text-danger">
                              Email must be valid and contain '@' sign.
                            </small>
                          </span>
                        <input type="text" name="phone" class="form-control  box-border-none" disabled [(ngModel)]="basicProfile.phone" #phone="ngModel" [class.border-red]="(phone.touched || phone.dirty) && !phone.valid"  required>
                        <div class="form-btns buttons_group" id="buttons_group">
                            <button class='save' (click)="saveProfileChanges()">Save</button>
                            <button class='cancel'  (click)="onlyShowForm('btn-edit','editable-form')">Cancel</button>
                        </div>
                    </form>
                    
                </div>
                <!--User Other Details End-->

                <!--User Other Details Start-->
                <h3>Security Details</h3>
                <div class="other-details">
                    <a class="edit-btn1" id="edit-btn1" (click)="editForm('edit-btn1','editable-form1',1)"
                        class="edit-btn">Edit</a>
                    <form class="edit-form" id="editable-form1" #securityForm="ngForm">
                        <input type="password" name="name" id="oldPassword"
                            class="form-control edit-inp-old box-border-none" placeholder="Current Password"
                            [class.border-red]="(password.touched || password.dirty) && !password.valid" required
                            minlength="4" pattern="[^' ']+" [(ngModel)]="security.password" #password="ngModel">
                        <span *ngIf="password.invalid && (password.dirty || password.touched)">

                            <small *ngIf="password.errors.minlength" class="form-control-feedback text-danger d-block">
                                password must be at least 4 characters
                            </small>

                            <small *ngIf="password.errors.pattern" class="form-control-feedback text-danger d-block">
                                password must not contain any white space
                            </small>
                        </span>
                        <input type="password" name="name1" id="newPassword" class="form-control box-border-none"
                            placeholder="New Password"
                            [class.border-red]="(newPassword.touched || newPassword.dirty) && !newPassword.valid"
                            required minlength="4" pattern="[^' ']+" style="display: none;"
                            [(ngModel)]="security.newPassword" #newPassword="ngModel">
                        <span *ngIf="newPassword.invalid && (newPassword.dirty || newPassword.touched)">

                            <small *ngIf="newPassword.errors.minlength"
                                class="form-control-feedback text-danger d-block">
                                password must be at least 4 characters
                            </small>

                            <small *ngIf="newPassword.errors.pattern" class="form-control-feedback text-danger d-block">
                                password must not contain any white space
                            </small>
                        </span>
                        <input type="password" name="name2" id="confirmPassword" class="form-control box-border-none"
                            placeholder="Confirm New Password"
                            [class.border-red]="(confirmPassword.touched || confirmPassword.dirty) && !confirmPassword.valid"
                            pattern="{{newPassword.value}}" required style="display: none;"
                            [(ngModel)]="security.confirmPassword" #confirmPassword="ngModel">
                        <span *ngIf="confirmPassword.invalid && (confirmPassword.dirty || confirmPassword.touched)">



                            <small *ngIf="confirmPassword.errors.pattern"
                                class="form-control-feedback text-danger d-block">
                                password must match
                            </small>
                        </span>
                        <div class="buttons_group" id="buttons_group2">
                            <button class='save form-btns' (click)="savePasswordChange()">Save</button>
                            <button class='cancel form-btns'
                                (click)="onlyShowForm('edit-btn1','editable-form1',1)">Cancel</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>
</div>


<div class="loader-drum w-100 h-100 admin-loader" *ngIf="loader">
    <div class="ld">
        <div class="loader"></div>
    </div>
</div>

<!-- 
<form class="edit-form form--disabled" id="editable-form" #profileForm="ngForm">
    <input type="text" name="name" class="form-control  box-border-none"
        [(ngModel)]="basicProfile.name" #name="ngModel"
        [class.border-red]="(name.touched || name.dirty) && !name.valid" required
        style="font-weight: 600" />
    <input type="email" name="email" class="form-control box-border-none"
        [(ngModel)]="basicProfile.email" #email="ngModel"
        pattern="[A-Za-zzÄÖÜäöüß0-9._%+-]+@[a-zA-Z0-9.-]+\.[A-Za-z]{2,}$"
        [class.border-red]="(email.touched || email.dirty) && !email.valid" required>
    <span *ngIf="email.invalid && (email.dirty || email.touched)">
        <small *ngIf="email.errors.pattern" class="form-control-feedback text-danger">
            Email must be valid and contain '@' sign.
        </small>
    </span>
    <input type="text" name="phone" class="form-control  box-border-none"
        [(ngModel)]="basicProfile.phone" #phone="ngModel"
        [class.border-red]="(phone.touched || phone.dirty) && !phone.valid" required>
    <div class="form-btns">
        <button class='save' (click)="saveProfileChanges()"
            [disabled]="!(profileForm.form.valid)">Save</button>
        <button class='cancel' (click)="onlyShowForm('btn-edit','editable-form')">Cancel</button>
    </div>
</form> -->