<main>
    <section>
        <div class="container-fluid">
            <div class="row no-gutters">
                <ul class="nav nav-pills">
                    <li class="nav-item">
                        <a class="nav-link active" >All tasks</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" >Pending</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" >Processing</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" >Success</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" >Rejected</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" >Canceled</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" >Error</a>
                    </li>
                </ul>
                <ul class="nav nav-pills ml-auto">
                    <li class="nav-item">
                        <div class="input-group">
                            <input type="text" name="search" class="form-control" value=""
                                placeholder="Search drip-feed" aria-controls="example">
                            <span>
                                <div class="dropdown">
                                    <button class="btn btn-default dropdown-toggle" type="button"
                                        id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                                        aria-expanded="false" style="padding: .475rem .75rem !important">
                                        Task ID
                                    </button>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                        <a class="dropdown-item" >Task ID</a>
                                        <a class="dropdown-item" >Order ID</a>
                                        <a class="dropdown-item" >Service ID</a>
                                        <a class="dropdown-item" >User</a>
                                        <a class="dropdown-item" >Link</a>
                                    </div>
                                </div>
                            </span>
                            <span class="input-group-btn">
                                <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                            </span>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="container-fluid">
            <table class="table">
                <thead>
                    <tr>
                        <th><input id="selectAll" type="checkbox"></th>
                        <th>Task ID</th>
                        <th>User</th>
                        <th>Order ID</th>
                        <th>Link</th>
                        <th>Start count</th>
                        <th>Quantity</th>
                        <th>Service ID</th>
                        <th class="dropdown-th">
                            <div class="dropdown">
                                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenuButton"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Task
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <a class="dropdown-item" >All(15)</a>
                                    <a class="dropdown-item" >Cancel(15)</a>
                                    <a class="dropdown-item" >Refill(15)</a>
                                </div>
                            </div>
                        </th>
                        <th>Status</th>
                        <th>Created</th>
                        <th class="dropdown-th">
                            <div class="dropdown">
                                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenuButton"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Mode
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <a class="dropdown-item" >All(5)</a>
                                    <a class="dropdown-item" >Manual(15)</a>
                                    <a class="dropdown-item" >Auto(15)</a>
                                    <a class="dropdown-item" >Refiller(0)</a>
                                </div>
                            </div>
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><input type="checkbox" name="group[19][8]" value="8" /></td>
                        <td>14</td>
                        <td>followiz</td>
                        <td>88635</td>
                        <td>https://smmkings.com/ref/avw38</td>
                        <td>1</td>
                        <td>15</td>
                        <td>4474</td>
                        <td>Refill</td>
                        <td>Pending</td>
                        <td>2019-10-24 07:09:58</td>
                        <td>Manual</td>
                        <td>
                            <div class="dropdown pull-right">
                                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenuButton"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Actions
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <a class="dropdown-item" >Detailsr</a>
                                    <a class="dropdown-item" >Cancel</a>
                                    <a class="dropdown-item" >Change status</a>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td><input type="checkbox" name="group[19][8]" value="8" /></td>
                        <td>14</td>
                        <td>followiz</td>
                        <td>88635</td>
                        <td>https://smmkings.com/ref/avw38</td>
                        <td>1</td>
                        <td>15</td>
                        <td>4474</td>
                        <td>Refill</td>
                        <td>Pending</td>
                        <td>2019-10-24 07:09:58</td>
                        <td>Manual</td>
                        <td>
                            <div class="dropdown pull-right">
                                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenuButton"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Actions
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <a class="dropdown-item" >Detailsr</a>
                                    <a class="dropdown-item" >Cancel</a>
                                    <a class="dropdown-item" >Change status</a>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td><input type="checkbox" name="group[19][8]" value="8" /></td>
                        <td>14</td>
                        <td>followiz</td>
                        <td>88635</td>
                        <td>https://smmkings.com/ref/avw38</td>
                        <td>1</td>
                        <td>15</td>
                        <td>4474</td>
                        <td>Refill</td>
                        <td>Pending</td>
                        <td>2019-10-24 07:09:58</td>
                        <td>Manual</td>
                        <td>
                            <div class="dropdown pull-right">
                                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenuButton"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Actions
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <a class="dropdown-item" >Detailsr</a>
                                    <a class="dropdown-item" >Cancel</a>
                                    <a class="dropdown-item" >Change status</a>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td><input type="checkbox" name="group[19][8]" value="8" /></td>
                        <td>14</td>
                        <td>followiz</td>
                        <td>88635</td>
                        <td>https://smmkings.com/ref/avw38</td>
                        <td>1</td>
                        <td>15</td>
                        <td>4474</td>
                        <td>Refill</td>
                        <td>Pending</td>
                        <td>2019-10-24 07:09:58</td>
                        <td>Manual</td>
                        <td>
                            <div class="dropdown pull-right">
                                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenuButton"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Actions
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <a class="dropdown-item" >Detailsr</a>
                                    <a class="dropdown-item" >Cancel</a>
                                    <a class="dropdown-item" >Change status</a>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td><input type="checkbox" name="group[19][8]" value="8" /></td>
                        <td>14</td>
                        <td>followiz</td>
                        <td>88635</td>
                        <td>https://smmkings.com/ref/avw38</td>
                        <td>1</td>
                        <td>15</td>
                        <td>4474</td>
                        <td>Refill</td>
                        <td>Pending</td>
                        <td>2019-10-24 07:09:58</td>
                        <td>Manual</td>
                        <td>
                            <div class="dropdown pull-right">
                                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenuButton"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Actions
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <a class="dropdown-item" >Detailsr</a>
                                    <a class="dropdown-item" >Cancel</a>
                                    <a class="dropdown-item" >Change status</a>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td><input type="checkbox" name="group[19][8]" value="8" /></td>
                        <td>14</td>
                        <td>followiz</td>
                        <td>88635</td>
                        <td>https://smmkings.com/ref/avw38</td>
                        <td>1</td>
                        <td>15</td>
                        <td>4474</td>
                        <td>Refill</td>
                        <td>Pending</td>
                        <td>2019-10-24 07:09:58</td>
                        <td>Manual</td>
                        <td>
                            <div class="dropdown pull-right">
                                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenuButton"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Actions
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <a class="dropdown-item" >Detailsr</a>
                                    <a class="dropdown-item" >Cancel</a>
                                    <a class="dropdown-item" >Change status</a>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td><input type="checkbox" name="group[19][8]" value="8" /></td>
                        <td>14</td>
                        <td>followiz</td>
                        <td>88635</td>
                        <td>https://smmkings.com/ref/avw38</td>
                        <td>1</td>
                        <td>15</td>
                        <td>4474</td>
                        <td>Refill</td>
                        <td>Pending</td>
                        <td>2019-10-24 07:09:58</td>
                        <td>Manual</td>
                        <td>
                            <div class="dropdown pull-right">
                                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenuButton"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Actions
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <a class="dropdown-item" >Detailsr</a>
                                    <a class="dropdown-item" >Cancel</a>
                                    <a class="dropdown-item" >Change status</a>
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>

        </div>
    </section>
</main>