<main>
    <section>
        <div class="container-fluid">
            <div class="row no-gutters">
                <ul class="nav nav-pills">
                    <li class="nav-item mr-2">
                        <a class="nav-link btn btn-default" data-toggle="modal" data-target="#create-category"
                            (click)="open(category)">Create Package</a>
                    </li>
                    <li class="nav-item mr-2">
                        <a class="nav-link btn btn-default" data-toggle="modal" data-target="#create-category"
                            (click)="show(platform)">Create platform</a>
                    </li>
                </ul>
                <ul class="nav nav-pills ml-auto">
                    <li class="nav-item">
                        <a class="nav-link">Export</a>
                    </li>
                    <li class="nav-item">
                        <div class="input-group">
                            <input type="text" name="search" class="form-control" value="" placeholder="Search users"
                                aria-controls="example">
                            <span class="input-group-btn">
                                <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                            </span>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="container-fluid">

            <table mat-table [dataSource]="dataSource" matSort (matSortChange)="announceSortChange($event)"
            class="mat-elevation-z8 w-100">

                <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by name"> name </th>
                    <td mat-cell *matCellDef="let package"> {{package.name}} </td>
                </ng-container>

                <!-- Name Column -->
                <ng-container matColumnDef="category">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header  sortActionDescription="Sort by category"> category </th>
                    <td mat-cell *matCellDef="let package"> {{package.category}} </td>
                </ng-container>

                <ng-container matColumnDef="platform">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header  sortActionDescription="Sort by platform"> platform </th>
                    <td mat-cell *matCellDef="let package"> {{package.platform}} </td>
                </ng-container>


                <ng-container matColumnDef="quantity">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header  sortActionDescription="Sort by quantity">quantity</th>
                    <td mat-cell *matCellDef="let package"> {{package.quantity}} </td>
                </ng-container>


                <ng-container matColumnDef="refill">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header  sortActionDescription="Sort by refill">refill</th>
                    <td mat-cell *matCellDef="let package"> {{package.refill}} </td>
                </ng-container>

                <ng-container matColumnDef="provider">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header  sortActionDescription="Sort by Provider">  Provider </th>
                    <td mat-cell *matCellDef="let package"> {{package.provider}} </td>
                </ng-container>

                <ng-container matColumnDef="featured">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header  sortActionDescription="Sort by featured"> featured </th>
                    <td mat-cell *matCellDef="let package"> {{package.featured}} </td>
                </ng-container>


                <ng-container matColumnDef="promotion">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header  sortActionDescription="Sort by promotion"> promotion </th>
                    <td mat-cell *matCellDef="let package"> {{package.promotion}} </td>
                </ng-container>


                <ng-container matColumnDef="service">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header  sortActionDescription="Sort by service"> service </th>
                    <td mat-cell *matCellDef="let package"> {{package.service}} </td>
                </ng-container>

                <ng-container matColumnDef="service_rate">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header  sortActionDescription="Sort by service_rate"> service_rate </th>
                    <td mat-cell *matCellDef="let package"> {{package.service_rate}} </td>
                </ng-container>


                <ng-container matColumnDef="option1">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header  sortActionDescription="Sort by option1"> option1 </th>
                    <td mat-cell *matCellDef="let package"> {{package.option1}} </td>
                </ng-container>

                <ng-container matColumnDef="option2">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header  sortActionDescription="Sort by option2"> option2 </th>
                    <td mat-cell *matCellDef="let package"> {{package.option2}} </td>
                </ng-container>

                <ng-container matColumnDef="option3">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header  sortActionDescription="Sort by option3"> option3 </th>
                    <td mat-cell *matCellDef="let package"> {{package.option3}} </td>
                </ng-container>

                <ng-container matColumnDef="option4">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header  sortActionDescription="Sort by option4"> option4 </th>
                    <td mat-cell *matCellDef="let package"> {{package.option4}} </td>
                </ng-container>

                <ng-container matColumnDef="option5">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header  sortActionDescription="Sort by option5"> option5 </th>
                    <td mat-cell *matCellDef="let package"> {{package.option5}} </td>
                </ng-container>


                <ng-container matColumnDef="dropdown">
                    <th mat-header-cell *matHeaderCellDef> action </th>
                    <td mat-cell *matCellDef="let package">
                        <div class="dropdown pull-right">
                            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenuButton"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Actions
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item">Edit Package</a>
                                <a class="dropdown-item">delete package</a>
                                <a class="dropdown-item">suspend package</a>
                                <!-- <a class="dropdown-item">Suspend user</a> -->
                            </div>
                        </div>
                    </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>

            <mat-paginator [length]="100" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]">
            </mat-paginator>
        </div>
    </section>
</main>

<ng-template #platform let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Create Category</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form #form="ngForm" id="myform">

            <div class="form-group">
                <label for="recipient-name" class="col-form-label">Name
                </label>
                <input placeholder="Name" type="text" [(ngModel)]="createPlatform.name" #name=ngModel name="name"
                    class="form-control" id="recipient-name">
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="makePlatform()">Save</button>
    </div>
</ng-template>

<ng-template #category let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Create Package</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form #form="ngForm" id="myform">
            <div class="row">
                <div class="col-md-12 col-12">
                    <div class="form-group">
                        <label for="min" class="col-form-label">Name</label>
                        <input [(ngModel)]="package.name" #name=ngModel name="name" placeholder="Name" type="text"
                            class="form-control">
                    </div>
                </div>

                <div class="form-group col-md-12 col-12">
                    <label for="cat" class="col-form-label">Category</label>
                    <select #mySelected class="form-control" (change)='categoryValue($event)'>
                        <option>Select Category</option>
                        <option *ngFor="let category of categories; let i = index" value={{i}}>{{category.name}}
                        </option>
                    </select>
                </div>

                <div class="form-group col-md-12 col-12">
                    <label for="cat" class="col-form-label">Platform</label>
                    <select #mySelected class="form-control" (change)='platformValue($event)'>
                        <option>Select Platform</option>
                        <option *ngFor="let platform of platforms; let i = index" value={{i}}>{{platform.name}}
                        </option>
                    </select>
                </div>

                <div class="col-md-12 col-12">
                    <div class="form-group">
                        <label for="max" class="col-form-label">Number of Likes</label>
                        <input [(ngModel)]="package.quantity" #quantity=ngModel name="quantity"
                            placeholder="Likes" type="text" class="form-control">
                    </div>
                </div>
                <div class="col-md-12 col-12">
                    <div class="form-group">
                        <label for="max" class="col-form-label">Rate</label>
                        <input [(ngModel)]="package.rate" #rate=ngModel name="rate" placeholder="Rate" type="text"
                            name="max-order" class="form-control">
                    </div>
                </div>
                <div class="col-md-12 col-12">
                    <div class="form-group">
                        <label for="max" class="col-form-label">Option1</label>
                        <input [(ngModel)]="package.option1" #Option1=ngModel name="Option1" placeholder="Option1"
                            type="text" name="Option1" class="form-control">
                    </div>
                </div>
                <div class="col-md-12 col-12">
                    <div class="form-group">
                        <label for="max" class="col-form-label">Option2</label>
                        <input [(ngModel)]="package.option2" #Option2=ngModel name="Option2" placeholder="Option2"
                            type="text" name="max-order" class="form-control">
                    </div>
                </div>
                <div class="col-md-12 col-12">
                    <div class="form-group">
                        <label for="max" class="col-form-label">Option3</label>
                        <input [(ngModel)]="package.option3" #Option3=ngModel name="Option3" placeholder="Option3"
                            type="text" name="max-order" class="form-control">
                    </div>
                </div>
                <div class="col-md-12 col-12">
                    <div class="form-group">
                        <label for="max" class="col-form-label">Option4</label>
                        <input [(ngModel)]="package.option4" #Option4=ngModel name="Option4" placeholder="Option4"
                            type="text" name="max-order" class="form-control">
                    </div>
                </div>
                <div class="col-md-12 col-12">
                    <div class="form-group">
                        <label for="max" class="col-form-label">Option5</label>
                        <input [(ngModel)]="package.option5" #Option5=ngModel name="Option5" placeholder="Option5"
                            type="text" name="max-order" class="form-control">
                    </div>
                </div>
                <div class="form-group col-md-12 col-12">
                    <label for="cat" class="col-form-label">Refill</label>
                    <select #mySelected class="form-control" (change)='refillValue($event)'>
                        <option>Choose category</option>
                        <option>True</option>
                        <option>False</option>
                    </select>
                </div>
                <div class="col-md-12 col-12">
                    <div class="form-group">
                        <label for="max" class="col-form-label">Promotion</label>
                        <input [(ngModel)]="package.promotion" #action=ngModel name="promotion" placeholder="promotion"
                            type="text" name="max-order" class="form-control">
                    </div>
                </div>
                <div class="form-group col-md-12 col-12">
                    <label for="cat" class="col-form-label">Package Status</label>
                    <select #mySelected class="form-control" (change)='packageStatusValue($event)'>
                        <option>Choose Status</option>
                        <option>Active</option>
                        <option>Inactive</option>
                    </select>
                </div>

                <div class="form-group col-md-12 col-12">
                    <label for="cat" class="col-form-label">Package Status</label>
                    <select #mySelected class="form-control" (change)='packageFeaturedValue($event)'>
                        <option>Featured</option>
                        <option>First</option>
                        <option>Second</option>
                        <option>Third</option>
                    </select>
                </div>
                <div class="form-group col-md-12 col-12">
                    <label for="cat" class="col-form-label">Providers</label>
                    <select #mySelected class="form-control" (change)='ProviderValue($event)'>
                        <option>Choose Provider</option>
                        <option *ngFor="let provider of providers">{{provider.name}}</option>
                    </select>
                </div>
                <div class="form-group col-md-12 col-12">
                    <label for="cat" class="col-form-label">services</label>
                    <select #mySelected class="form-control" (change)='serviceValue($event)'>
                        <option>Choose Service</option>
                        <option *ngFor="let service of services; let i = index" value={{i}}>{{service.service}} -
                            {{service.name}} + {{service.rate}}</option>
                    </select>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="savePackage()">Save</button>
    </div>
</ng-template>