<section>
    <div class="container-fluid">
        <div class="row no-gutters">
            <ul class="nav nav-pills">
                <li class="nav-item mr-2">
                    <a class="nav-link btn btn-default" data-toggle="modal" data-target="#create-cat"
                        (click)="open(content)">Add Service</a>
                </li>
                <li class="nav-item mr-2">
                    <a class="nav-link btn btn-default" data-toggle="modal" data-target="#create-category"
                        (click)="show(category)">Create Category</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link btn btn-default" data-toggle="modal" data-target="#create-cats"
                        (click)="modal(provider)">Add Provider</a>
                </li>
            </ul>
            <ul class="nav nav-pills ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#">Export</a>
                </li>
                <li class="nav-item">
                    <div class="input-group">
                        <input type="text" name="search" class="form-control" value="" placeholder="Search users"
                            aria-controls="example">
                        <span class="input-group-btn">
                            <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                        </span>
                    </div>
                </li>
            </ul>
        </div>
    </div>

    <div class="w-100">
        <table mat-table [dataSource]="dataSource" matSort (matSortChange)="announceSortChange($event)"
            class="mat-elevation-z8 w-100">

            <!-- service_code Column -->
            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by name">
                    name</th>
                <td mat-cell *matCellDef="let element"> {{element.name}} </td>
            </ng-container>

            <!-- name Column -->
            <ng-container matColumnDef="category">
                <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by phone">
                    category
                </th>
                <td mat-cell *matCellDef="let element">{{element.category}}</td>
            </ng-container>

            <!-- category Column -->
            <ng-container matColumnDef="rate">
                <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by rate">
                    rate
                </th>
                <td mat-cell *matCellDef="let element"> {{element.rate}} </td>
            </ng-container>

            <!-- link Column -->
            <ng-container matColumnDef="min">
                <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by min"> min
                </th>
                <td mat-cell *matCellDef="let element">{{element.min}} </td>
            </ng-container>

            <!-- rate Column -->
            <ng-container matColumnDef="max">
                <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by max"> max
                </th>
                <td mat-cell *matCellDef="let element"> {{element.max}} </td>
            </ng-container>

            <!-- Symbol Column -->
            <ng-container matColumnDef="speed_per_day">
                <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by speed_per_day">
                    speed_per_day
                </th>
                <td mat-cell *matCellDef="let element"> {{element.speed_per_day}} </td>
            </ng-container>

            <ng-container matColumnDef="provider">
                <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by provider">
                    provider
                </th>
                <td mat-cell *matCellDef="let element"> {{element.provider}} </td>
            </ng-container>

              

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

        <mat-paginator [length]="ordersResults" [pageSize]="10"></mat-paginator>
    </div>
</section>


<ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Add a Service</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form #form="ngForm" id="myform">
            <div class="form-group">
                <label for="Service" class="col-form-label">Provider</label>
                <select #mySelect class="form-control" (change)='getServices($event)'>
                    <option>Choose provider</option>
                    <!-- <option>Followiz.com</option> -->
                    <option *ngFor="let provider of allProviders">{{provider.name}}</option>

                </select>
            </div>
            <div class="form-group">
                <label for="service" class="col-form-label">service</label>
                <select #mySelect class="form-control" (change)='serviceName($event)'>
                    <option>Choose service</option>
                    <option name="service" *ngFor="let service of services; let i = index" value={{i}}>
                        {{service.service}} -
                        {{service.name}} + {{service.rate}}</option>
                </select>
            </div>
            <div class="form-group">
                <label for="recipient-name" class="col-form-label">Service name
                    <span class="badge">English</span>
                </label>
                <input type="text" [(ngModel)]="buy_service.name" #name=ngModel name="name" class="form-control"
                    id="recipient-name">
            </div>

            <div class="form-group">
                <label for="recipient-name" class="col-form-label">Speed Per Day
                </label>
                <input type="text" [(ngModel)]="buy_service.speed" #speed=ngModel name="speed" class="form-control"
                    id="recipient-name">
            </div>

            <div class="form-group">
                <label for="cat" class="col-form-label">Category</label>
                <select  #mySelected class="form-control" (change)='categoryValue($event)'>
                    <option>Choose category</option>
                    <option *ngFor="let category of categories; let i = index" value={{i}}>{{category.name}}</option>
                </select>
            </div>

            <div class="service-modes">
                <div class="form-group">
                    <label for="mode" class="col-form-label">Mode</label>
                    <select class="form-control">
                        <option>Manual</option>
                        <option>Auto</option>
                    </select>
                </div>
            </div>

            <div class="form-group">
                <label for="RP1" class="col-form-label">Rate per 1000: {{this.single_service.rate}}</label>
                <div class="d-flex">
                    <input [(ngModel)]=fixed (change)="calculatePrice()" name="fixed" placeholder="fixed" type="number"
                        class="form-control padding-5">
                    <input [(ngModel)]="percentage" (change)="calculatePrice()" name="percentage" [value]="percentage"
                        placeholder="percentage" type="number" class="form-control padding-5">
                    <input [value]="this.total" [(ngModel)]="buy_service.rate" #rate=ngModel name="rate"
                        placeholder="total" type="number" name="total" class="form-control padding-5">
                </div>
            </div>

            <div class="row">
                <div class="col-md-6 col-12">
                    <div class="form-group">
                        <label for="min" class="col-form-label">Min order: {{this.single_service.min}}</label>
                        <input value="{{this.single_service.min}}" [(ngModel)]="buy_service.min" #min=ngModel name="min" placeholder="min-order"
                            type="number" name="min-order" class="form-control">
                    </div>
                </div>
                <div class="col-md-6 col-12">
                    <div class="form-group">
                        <label for="max" class="col-form-label">Max order: {{this.single_service.max}}</label>
                        <input value="{{this.single_service.max}}" [(ngModel)]="buy_service.max" #max=ngModel name="max" placeholder="max-order"
                            type="number" name="max-order" class="form-control">
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label for="linkdup" class="col-form-label">dripfeed: {{this.single_service.dripfeed}}</label>
                <select [(ngModel)]="buy_service.dripfeed" #dripfeed=ngModel name="dripfeed" class="form-control">
                    <option>true</option>
                    <option>false</option>
                </select>
            </div>

            <div class="form-group">
                <label for="linkdup" class="col-form-label">refill: {{this.single_service.refill}}</label>
                <select [(ngModel)]="buy_service.refill" #refill=ngModel name="refill" class="form-control">
                    <option>true</option>
                    <option>false</option>
                </select>
            </div>

            <!-- <div class="form-group">
                <label for="incerement" class="col-form-label">Increment
                    <span><i class="fa fa-exclamation-circle"></i></span>
                </label>
                <input type="text" name="incerement" class="form-control">
            </div>

            <div class="form-group">
                <label for="overflow" class="col-form-label">Overflow, %</label>
                <input type="text" name="overflow" class="form-control">
            </div> -->
        </form>
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="saveService()">Save</button>
    </div>
</ng-template>

<ng-template #category let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Create Category</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form #form="ngForm" id="myform">

            <div class="form-group">
                <label for="recipient-name" class="col-form-label">Name
                </label>
                <input placeholder="Name" type="text" [(ngModel)]="createCategory.name" #name=ngModel name="name" class="form-control"
                    id="recipient-name">
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="makeCategory()">Save</button>
    </div>
</ng-template>

<ng-template #provider let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Add a provider</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form #form="ngForm" id="myform">
            <div class="row">
                <div class="col-md-12 col-12">
                    <div class="form-group">
                        <label for="min" class="col-form-label">Name</label>
                        <input [(ngModel)]="buy_provider.name" #name=ngModel name="Name" placeholder="Name" type="text"
                            class="form-control">
                    </div>
                </div>
                <div class="col-md-12 col-12">
                    <div class="form-group">
                        <label for="max" class="col-form-label">Link</label>
                        <input [(ngModel)]="buy_provider.link" #link=ngModel name="Link" placeholder="Link" type="text"
                            class="form-control">
                    </div>
                </div>
                <div class="col-md-12 col-12">
                    <div class="form-group">
                        <label for="max" class="col-form-label">API Key</label>
                        <input [(ngModel)]="buy_provider.api" #api=ngModel name="api" placeholder="API Key" type="text"
                            name="max-order" class="form-control">
                    </div>
                </div>
                <div class="col-md-12 col-12">
                    <div class="form-group">
                        <label for="max" class="col-form-label">Action</label>
                        <input [(ngModel)]="buy_provider.action" #action=ngModel name="action" placeholder="Action"
                            type="text" name="max-order" class="form-control">
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="saveProvider()">Save</button>
    </div>
</ng-template>
