<div class="container-fluid table-outer">
    <div class="table-responsive table-inner">
        <div class="table-heading">
            <h2>Users</h2>
        </div>
        <!--Table Start-->
        <div class="w-100">
            <table mat-table [dataSource]="dataSource" matSort (matSortChange)="announceSortChange($event)"
                class="mat-elevation-z8 w-100">

                <!-- service_code Column -->
                <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by name">
                         Name </th>
                    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                </ng-container>

                <!-- name Column -->
                <ng-container matColumnDef="category">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by category">
                        category
                    </th>
                    <td mat-cell *matCellDef="let element">{{element.category}}</td>
                </ng-container>

                <!-- category Column -->
                <ng-container matColumnDef="status">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by status">
                        Status
                    </th>
                    <td mat-cell *matCellDef="let element"> {{element.status}} </td>
                </ng-container>

                <!-- link Column -->
                <ng-container matColumnDef="quantity">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by quantity">
                        quantity
                    </th>
                    <td mat-cell *matCellDef="let element">{{element.quantity}} </td>
                </ng-container>

                <!-- rate Column -->
                <ng-container matColumnDef="rate">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by rate">
                        Rate
                    </th>
                    <td mat-cell *matCellDef="let element"> {{element.rate}} </td>
                </ng-container>

                <!-- Symbol Column -->
                <ng-container matColumnDef="link">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by link">
                        link
                    </th>
                    <td mat-cell *matCellDef="let element"> {{element.link}} </td>
                </ng-container>



                <!-- service_code Column -->
                <ng-container matColumnDef="refill">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by refill">
                        Refill </th>
                    <td mat-cell *matCellDef="let element"> {{element.refill}} </td>
                </ng-container>

                <!-- name Column -->
                <ng-container matColumnDef="email">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by useremail">
                        useremail
                    </th>
                    <td mat-cell *matCellDef="let element">{{element.userId.email}}</td>
                </ng-container>

                <!-- category Column -->
                <ng-container matColumnDef="fullName">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by fullName">
                        fullName
                    </th>
                    <td mat-cell *matCellDef="let element"> {{element.userId.fullName}} </td>
                </ng-container>

                <!-- link Column -->
                <ng-container matColumnDef="provider">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by provider">
                        Provider
                    </th>
                    <td mat-cell *matCellDef="let element">{{element.provider}} </td>
                </ng-container>

                <!-- rate Column -->
                <ng-container matColumnDef="provider_rate">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by provider_rate">
                        provider_rate
                    </th>
                    <td mat-cell *matCellDef="let element"> {{element.provider_rate}} </td>
                </ng-container>

                <!-- Symbol Column -->
                <ng-container matColumnDef="provider_order_id">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by provider_order_id">
                        provider_order_id
                    </th>
                    <td mat-cell *matCellDef="let element"> {{element.provider_order_id}} </td>
                </ng-container>

 


                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>

            <mat-paginator [length]="ordersResults" [pageSize]="10"></mat-paginator>
        </div>

    </div>
    <!--Table End-->
</div>