<main>
    <section>
        <div class="container-fluid">
            <div class="row no-gutters">
                <ul class="nav nav-pills">
                    <li class="nav-item">
                        <a class="nav-link" >Completed</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" >Canceled</a>
                    </li>
                </ul>
                <ul class="nav nav-pills ml-auto">
                    <li class="nav-item">
                        <div class="input-group">
                            <input type="text" name="search" class="form-control" value=""
                                placeholder="Search drip-feed" aria-controls="example">
                            <span>
                                <div class="dropdown">
                                    <button class="btn btn-default dropdown-toggle" type="button"
                                        id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                                        aria-expanded="false" style="padding: .475rem .75rem !important">
                                        Order ID
                                    </button>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                        <a class="dropdown-item" >Order ID</a>
                                        <a class="dropdown-item" >User</a>
                                        <a class="dropdown-item" >Link</a>
                                    </div>
                                </div>
                            </span>
                            <span class="input-group-btn">
                                <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                            </span>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="container-fluid">
            <table class="table">
                <thead>
                    <tr>
                        <th><input id="selectAll" type="checkbox"></th>
                        <th>ID</th>
                        <th>User</th>
                        <th>Total charge</th>
                        <th>Link</th>
                        <th>Quantity</th>
                        <th class="dropdown-th">
                            <div class="dropdown">
                                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenuButton"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Service
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <a class="dropdown-item" >All(11)</a>
                                </div>
                            </div>
                        </th>
                        <th>Runs</th>
                        <th>Interval</th>
                        <th>Total Quantity</th>
                        <th>Date</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><input type="checkbox" name="group[19][8]" value="8" /></td>
                        <td>88521</td>
                        <td>followiz</td>
                        <td>476.64000</td>
                        <td>https://smmkings.com/ref/avw38</td>
                        <td>500</td>
                        <td><span class="views-badge">571</span></td>
                        <td><a >7</a> /1000 </td>
                        <td>1440</td>
                        <td>500000</td>
                        <td>2019-10-24 07:09:58</td>
                        <td>Canceled</td>
                    </tr>
                    <tr>
                        <td><input type="checkbox" name="group[19][8]" value="8" /></td>
                        <td>88521</td>
                        <td>followiz</td>
                        <td>476.64000</td>
                        <td>https://smmkings.com/ref/avw38</td>
                        <td>500</td>
                        <td><span class="views-badge">571</span></td>
                        <td><a >7</a> /1000 </td>
                        <td>1440</td>
                        <td>500000</td>
                        <td>2019-10-24 07:09:58</td>
                        <td>Canceled</td>
                    </tr>
                    <tr>
                        <td><input type="checkbox" name="group[19][8]" value="8" /></td>
                        <td>88521</td>
                        <td>followiz</td>
                        <td>476.64000</td>
                        <td>https://smmkings.com/ref/avw38</td>
                        <td>500</td>
                        <td><span class="views-badge">571</span></td>
                        <td><a >7</a> /1000 </td>
                        <td>1440</td>
                        <td>500000</td>
                        <td>2019-10-24 07:09:58</td>
                        <td>Canceled</td>
                    </tr>
                    <tr>
                        <td><input type="checkbox" name="group[19][8]" value="8" /></td>
                        <td>88521</td>
                        <td>followiz</td>
                        <td>476.64000</td>
                        <td>https://smmkings.com/ref/avw38</td>
                        <td>500</td>
                        <td><span class="views-badge">571</span></td>
                        <td><a >7</a> /1000 </td>
                        <td>1440</td>
                        <td>500000</td>
                        <td>2019-10-24 07:09:58</td>
                        <td>Canceled</td>
                    </tr>
                    <tr>
                        <td><input type="checkbox" name="group[19][8]" value="8" /></td>
                        <td>88521</td>
                        <td>followiz</td>
                        <td>476.64000</td>
                        <td>https://smmkings.com/ref/avw38</td>
                        <td>500</td>
                        <td><span class="views-badge">571</span></td>
                        <td><a >7</a> /1000 </td>
                        <td>1440</td>
                        <td>500000</td>
                        <td>2019-10-24 07:09:58</td>
                        <td>Canceled</td>
                    </tr>
                    <tr>
                        <td><input type="checkbox" name="group[19][8]" value="8" /></td>
                        <td>88521</td>
                        <td>followiz</td>
                        <td>476.64000</td>
                        <td>https://smmkings.com/ref/avw38</td>
                        <td>500</td>
                        <td><span class="views-badge">571</span></td>
                        <td><a >7</a> /1000 </td>
                        <td>1440</td>
                        <td>500000</td>
                        <td>2019-10-24 07:09:58</td>
                        <td>Canceled</td>
                    </tr>
                    <tr>
                        <td><input type="checkbox" name="group[19][8]" value="8" /></td>
                        <td>88521</td>
                        <td>followiz</td>
                        <td>476.64000</td>
                        <td>https://smmkings.com/ref/avw38</td>
                        <td>500</td>
                        <td><span class="views-badge">571</span></td>
                        <td><a >7</a> /1000 </td>
                        <td>1440</td>
                        <td>500000</td>
                        <td>2019-10-24 07:09:58</td>
                        <td>Canceled</td>
                    </tr>
                    <tr>
                        <td><input type="checkbox" name="group[19][8]" value="8" /></td>
                        <td>88521</td>
                        <td>followiz</td>
                        <td>476.64000</td>
                        <td>https://smmkings.com/ref/avw38</td>
                        <td>500</td>
                        <td><span class="views-badge">571</span></td>
                        <td><a >7</a> /1000 </td>
                        <td>1440</td>
                        <td>500000</td>
                        <td>2019-10-24 07:09:58</td>
                        <td>Canceled</td>
                    </tr>
                    <tr>
                        <td><input type="checkbox" name="group[19][8]" value="8" /></td>
                        <td>88521</td>
                        <td>followiz</td>
                        <td>476.64000</td>
                        <td>https://smmkings.com/ref/avw38</td>
                        <td>500</td>
                        <td><span class="views-badge">571</span></td>
                        <td><a >7</a> /1000 </td>
                        <td>1440</td>
                        <td>500000</td>
                        <td>2019-10-24 07:09:58</td>
                        <td>Canceled</td>
                    </tr>
                    <tr>
                        <td><input type="checkbox" name="group[19][8]" value="8" /></td>
                        <td>88521</td>
                        <td>followiz</td>
                        <td>476.64000</td>
                        <td>https://smmkings.com/ref/avw38</td>
                        <td>500</td>
                        <td><span class="views-badge">571</span></td>
                        <td><a >7</a> /1000 </td>
                        <td>1440</td>
                        <td>500000</td>
                        <td>2019-10-24 07:09:58</td>
                        <td>Canceled</td>
                    </tr>
                    <tr>
                        <td><input type="checkbox" name="group[19][8]" value="8" /></td>
                        <td>88521</td>
                        <td>followiz</td>
                        <td>476.64000</td>
                        <td>https://smmkings.com/ref/avw38</td>
                        <td>500</td>
                        <td><span class="views-badge">571</span></td>
                        <td><a >7</a> /1000 </td>
                        <td>1440</td>
                        <td>500000</td>
                        <td>2019-10-24 07:09:58</td>
                        <td>Canceled</td>
                    </tr>
                </tbody>
            </table>

        </div>
    </section>
</main>