
        <!-- Dashboard Content
        ================================================== -->
        <div class="dashboard-content-container" data-simplebar>
            <div class="dashboard-content-inner" >
  
                <!-- Dashboard Headline -->
                <div class="dashboard-headline d-flex justify-content-between">
                    <div>
                        <h3>Howdy, Admin</h3>
                        <span>We are glad to see you again!</span>
                    </div>
  
                    <!-- Breadcrumbs -->
                   <div class="breadcrumbss d-flex">
                       <div class="d-flex">
                            <span class="m-0 p-0 mx-2 text-white">Home</span>
                            <span class="m-0 p-0 mx-2 bread_crump_before text-white">Dashboard</span>
                       </div>
                   </div>
                </div>
  
                <!-- Fun Facts Container -->
                <div class="fun-facts-container">
                    <div class="fun-fact" data-fun-fact-color="#36bd78">
                        <div class="fun-fact-text">
                            <span>Users</span>
                            <!-- <div class="loader mt-2" *ngIf="loader"></div>
                            <h4 *ngIf="!loader">{{adminStats.users_count}}</h4> -->
                        </div>
                        <div class="fun-fact-icon"><img src="../../../../../../assets/user.png" class="icon-height" alt=""></div>
                    </div>
                    <div class="fun-fact" data-fun-fact-color="#b81b7f">
                        <div class="fun-fact-text">
                            <span>Total Orders</span>
                            <!-- <div class="loader mt-2" *ngIf="loader"></div>
                            <h4 *ngIf="!loader">{{adminStats.total_orders_count}}</h4> -->
                        </div>
                        <div class="fun-fact-icon"><img src="../../../../../../assets/orders.png" class="icon-height" alt=""></div>
                    </div>
                    <div class="fun-fact" data-fun-fact-color="#b81b7f">
                        <div class="fun-fact-text">
                            <span>Pending Orders</span>
                            <!-- <div class="loader mt-2" *ngIf="loader"></div>
                            <h4 *ngIf="!loader">{{adminStats.pending_orders_count}}</h4> -->
                        </div>
                        <div class="fun-fact-icon">
                            <img src="../../../../../../assets/pending.png" class="icon-height" alt="">
                        </div>
                    </div>
                    <div class="fun-fact" data-fun-fact-color="#efa80f">
                        <div class="fun-fact-text">
                            <span>Free Samples</span>
                            <!-- <div class="loader mt-2" *ngIf="loader"></div>
                            <h4 *ngIf="!loader">{{adminStats.free_samples_count}}</h4> -->
                        </div>
                        <div class="fun-fact-icon">
                            <img src="../../../../../../assets/free.png" class="icon-height" alt="">
                        </div>
                    </div>
  
                    <!-- Last one has to be hidden below 1600px, sorry :( -->
                    <!-- <div class="fun-fact" data-fun-fact-color="#2a41e6">
                        <div class="fun-fact-text">
                            <span>Pending Complaints</span>
                            <h4>987</h4>
                        </div>
                        <div class="fun-fact-icon"><i class="icon-feather-trending-up"></i></div>
                    </div> -->
                </div>
  
            </div>
  
        </div>
  
        <!-- Dashboard Content / End -->
  