
@import '~bootstrap/dist/css/bootstrap.min.css';
@import '~font-awesome/css/font-awesome.css';

*,
html {
  padding: 0;
  margin: 0;
}

body {
  background-color: #f7fbfd;
  /*font-family: 'Open Sans', sans-serif;*/
  font-size: 14px;
  color: #1f2324;
  line-height: 1.5;
  position: relative;
  height: 100%;
}


/*****************************************
            ****************Hussain's code********************
            ******************************************/

.shadow-light{
    box-shadow: 0px 0px 1px #000 !important;
}

a {
    cursor: pointer;
}

/*****************************************
            ****************LOADER********************
            ******************************************/

.no-js #loader {
  display: none;
}
.js #loader {
  display: block;
  position: absolute;
  left: 100px;
  top: 0;
}
.se-pre-con {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  /* background: url(./assets/images/loader.svg) center no-repeat #fff; */
}

/****************************************************************************
*****************************************************************************
/////////////////////////////////////////////////////////////////////////////
---------------------------------MAIN PAGE CSS-------------------------------
/////////////////////////////////////////////////////////////////////////////
/****************************************************************************
****************************************************************************/
/****************************Top content Style***************************/

.top-content {
  position: relative;
}

.top-content:after {
  content: " ";
  position: absolute;
  opacity: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 105%;
  background-image: none;
  background-repeat: repeat-x;
  background-image: -webkit-linear-gradient(-135deg, #0070c9 25%, #72bdf8 100%);
  background-image: -o-linear-gradient(-135deg, #0070c9 25%, #72bdf8 100%);
  background-image: linear-gradient(-135deg, #0070c9 25%, #72bdf8 100%);
  -webkit-transform-origin: top left;
  -moz-transform-origin: top left;
  -ms-transform-origin: top left;
  transform-origin: top left;
  -webkit-transform: skewY(-8deg);
  -moz-transform: skewY(-8deg);
  -ms-transform: skewY(-8deg);
  transform: skewY(-8deg);
  z-index: -1;
}
/******************************Navbar Styles******************************/
.profile-nav {
  background-color: #001c32;
}
.profile-nav .form-inline a {
  margin-right: 15px !important;
  margin-left: 0 !important;
  position: relative;
}
.profile-nav .form-inline a {
  text-decoration: none;
}
.profile-nav .nav-price {
  background-color: white;
  border-radius: 2px;
  padding: 3px 10px;
  letter-spacing: 0.14px;
  color: #001c32 !important;
  font-weight: 500;
  border: 1px solid white;
}
.profile-nav .form-inline .profile-dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #009b0c;
  position: absolute;
  bottom: 0;
  right: 0;
}
.navbar-nav {
  align-items: center;
}
.navbar .navbar-nav > li > a {
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.navbar .navbar-nav > li > a:hover,
.navbar .navbar-nav > li > a:focus {
  color: rgba(255, 255, 255, 0.6);
}

.navbar-nav > li > a {
  padding-left: 15px !important;
  padding-right: 15px !important;
}

.navbar .form-inline a {
  margin-left: 25px;
  margin-right: 20px;
}

.navbar .form-inline .badge {
  border-radius: 50%;
  position: absolute;
  margin-top: 8px;
  margin-left: -13px;
}

.navbar .header-btn {
  color: white;
  border: 1px solid #ffffff;
  border-radius: 25px;
  padding: 5px 25px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.navbar .header-btn:hover {
  color: rgba(255, 255, 255, 0.6);
}

.navbar-dark .navbar-toggler {
  border: none;
}

.navbar-dark .navbar-toggler:focus {
  border: none !important;
  outline: none !important;
}

@media only screen and (min-width: 992px) {
  .dropdown:hover > .dropdown-menu {
    display: block;
    margin-top: -3px;
  }
}

/* ADMIN STYLING PF PERFECT PANEL */

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300i,400,400i,600,600i,700,700i,800,800i');
body{
	font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 13px;
    line-height: 1.846;
    color: #666666;
}

/********************
Navbar Styles
***********************/
.navbar{
	background: white !important;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
	padding: 0;
	margin-bottom: 20px;
}
.navbar-nav .nav-item .nav-link{
	padding: 20px 15px;
	margin: 0;
}
.navbar-light .navbar-nav .active>.nav-link{
	color: #212121;
    background-color: #eeeeee;
}
.navbar-nav .nav-item .nav-link .badge{
    padding: 4px 6px 4px;
    display: inline-block;
    min-width: 10px;
    padding: 3px 7px;
    font-size: 12px;
    font-weight: normal;
    color: #ffffff;
    line-height: 1;
    vertical-align: middle;
    white-space: nowrap;
    text-align: center;
    background-color: #bbbbbb;
    border-radius: 10px;
}

/*******************
Form styles
*******************/
.form-outer{
	min-height: 20px;
    padding: 19px;
    margin-bottom: 20px;
    background-color: #f5f5f5;
    border: 1px solid transparent;
}
input, text-area{
    padding: 0;
    border: none;
    border-radius: 0;
    -webkit-appearance: none;
    -webkit-box-shadow: inset 0 -1px 0 #dddddd;
    box-shadow: inset 0 -1px 0 #dddddd;
    font-size: 16px;
}
.form-control{
	display: block;
    width: 100%;
    height: 37px;
    padding: 6px 16px;
    font-size: 13px;
    line-height: 1.846;
    color: #666666;
    background-color: transparent;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 3px;
    -webkit-box-shadow: inset 0px -1px 0px 0px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0px -1px 0px 0px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
textarea:focus, textarea.form-control:focus, input.form-control:focus, input[type=text]:focus, input[type=password]:focus, input[type=email]:focus, input[type=number]:focus, [type=text].form-control:focus, [type=password].form-control:focus, [type=email].form-control:focus, [type=tel].form-control:focus, [contenteditable].form-control:focus {
    -webkit-box-shadow: inset 0 -2px 0 #2196f3;
    box-shadow: inset 0 -2px 0 #2196f3;
}
textarea, textarea.form-control, input.form-control, input[type=text], input[type=password], input[type=email], input[type=number], [type=text].form-control, [type=password].form-control, [type=email].form-control, [type=tel].form-control, [contenteditable].form-control {
    padding: 0;
    border: none;
    border-radius: 0;
    -webkit-appearance: none;
    -webkit-box-shadow: inset 0 -1px 0 #dddddd;
    box-shadow: inset 0 -1px 0 #dddddd;
    font-size: 16px;
}
textarea[disabled], textarea.form-control[disabled], input.form-control[disabled], input[type=text][disabled], input[type=password][disabled], input[type=email][disabled], input[type=number][disabled], [type=text].form-control[disabled], [type=password].form-control[disabled], [type=email].form-control[disabled], [type=tel].form-control[disabled], [contenteditable].form-control[disabled], textarea[readonly], textarea.form-control[readonly], input.form-control[readonly], input[type=text][readonly], input[type=password][readonly], input[type=email][readonly], input[type=number][readonly], [type=text].form-control[readonly], [type=password].form-control[readonly], [type=email].form-control[readonly], [type=tel].form-control[readonly], [contenteditable].form-control[readonly] {
    -webkit-box-shadow: none;
    box-shadow: none;
    border-bottom: 1px dotted #ddd;
}
.form-control:disabled, .form-control[readonly] {
    background-color: transparent;
    opacity: 1;
}
.form-control:focus{
	border-color: #66afe9;
	background-color: transparent;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
}
.radio, .checkbox {
    position: relative;
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
}
.radio label, .radio-inline label, .checkbox label, .checkbox-inline label {
    padding-left: 25px;
}

.radio label, .checkbox label {
    min-height: 23px;
    padding-left: 20px;
    margin-bottom: 0;
    font-weight: normal;
    cursor: pointer;
}
input[type="checkbox"]:checked:before, .checkbox input[type="checkbox"]:checked:before, .checkbox-inline input[type="checkbox"]:checked:before {
    content: "";
    position: absolute;
    top: 0;
    left: 6px;
    display: table;
    width: 6px;
    height: 12px;
    border: 2px solid #fff;
    border-top-width: 0;
    border-left-width: 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}
input[type="checkbox"]:after, .checkbox input[type="checkbox"]:after, .checkbox-inline input[type="checkbox"]:after {
    content: "";
    display: block;
    width: 18px;
    height: 18px;
    margin-top: -2px;
    border: 2px solid #666666;
    border-radius: 2px;
    -webkit-transition: 240ms;
    -o-transition: 240ms;
    transition: 240ms;
}
input[type="checkbox"]:checked:after, .checkbox input[type="checkbox"]:checked:after, .checkbox-inline input[type="checkbox"]:checked:after {
    background-color: #2196f3;
    border-color: #2196f3;
}
input[type="checkbox"]:focus:after, .checkbox input[type="checkbox"]:focus:after, .checkbox-inline input[type="checkbox"]:focus:after {
    border-color: #2196f3;
}
input[type="checkbox"], .checkbox input[type="checkbox"], .checkbox-inline input[type="checkbox"] {
    position: relative;
    border: none;
    margin-bottom: -4px;
    -webkit-appearance: none;
    appearance: none;
    cursor: pointer;
}
input[type="radio"], input[type="checkbox"] {
    margin: 4px 0 0;
    margin-top: 1px \9;
    line-height: normal;
}
input[type="checkbox"], input[type="radio"] {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
}
.radio input[type="radio"], .radio-inline input[type="radio"], .checkbox input[type="radio"], .checkbox-inline input[type="radio"], .radio input[type="checkbox"], .radio-inline input[type="checkbox"], .checkbox input[type="checkbox"], .checkbox-inline input[type="checkbox"] {
    margin-left: -25px;
}
.pull-middle{
	line-height: 40px;
}

select, select.form-control {
    border: 0;
    border-radius: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding-left: 0;
    padding-right: 0\9;
    /* background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABoAAAAaCAMAAACelLz8AAAAJ1BMVEVmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmaP/QSjAAAADHRSTlMAAgMJC0uWpKa6wMxMdjkoAAAANUlEQVR4AeXJyQEAERAAsNl7Hf3X6xt0QL6JpZWq30pdvdadme+0PMdzvHm8YThHcT1H7K0BtOMDniZhWOgAAAAASUVORK5CYII=); */
    -webkit-background-size: 13px 13px;
    background-size: 13px;
    background-repeat: no-repeat;
    background-position: right center;
    -webkit-box-shadow: inset 0 -1px 0 #dddddd;
    box-shadow: inset 0 -1px 0 #dddddd;
    font-size: 16px;
    line-height: 1.5;
}
select:focus, select.form-control:focus {
    -webkit-box-shadow: inset 0 -2px 0 #2196f3;
    box-shadow: inset 0 -2px 0 #2196f3;
    /* background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABoAAAAaCAMAAACelLz8AAAAJ1BMVEUhISEhISEhISEhISEhISEhISEhISEhISEhISEhISEhISEhISEhISF8S9ewAAAADHRSTlMAAgMJC0uWpKa6wMxMdjkoAAAANUlEQVR4AeXJyQEAERAAsNl7Hf3X6xt0QL6JpZWq30pdvdadme+0PMdzvHm8YThHcT1H7K0BtOMDniZhWOgAAAAASUVORK5CYII=); */
}

/********************
FAQ styles
********************/
.heading{
    margin-top: 0px;
    margin-bottom: 20px;
    color: #444444;
}
.data-list{
    margin-top: 0;
    margin-bottom: 11.5px;
}

/********************
API styles
********************/
.table {
    width: 100%;
    margin-bottom: 1rem;
    color: #666666;
}
.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
    padding: 8px;
    line-height: 1.846;
    vertical-align: top;
    border-top: 1px solid #dddddd;
}
.table-bordered td, .table-bordered th {
    border: 1px solid #dee2e6;
}
.table thead tr th{
	border-top: 0;
}
.width-40 {
    width: 40% !important;
    word-break: break-all;
    min-width: 250px;
}
pre {
    display: block;
    padding: 11px;
    margin: 0 0 11.5px;
    font-size: 12px;
    line-height: 1.846;
    word-break: break-all;
    word-wrap: break-word;
    color: #212121;
    background-color: #f5f5f5;
    border: 1px solid #cccccc;
    border-radius: 3px;
    margin-top: 0px;
    margin-bottom: 20px;
}
.btn-default {
	position: relative;
	text-transform: uppercase;
    border: none;
    -webkit-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
    font-size: 13px;
    color: #444444;
    background-color: #ffffff;
    border-color: transparent;
}
.btn-default:hover, .btn-default:active:hover {
    background-color: #f0f0f0;
}
.btn-default:hover {
    color: #444444;
    background-color: #e6e6e6;
    border-color: rgba(0, 0, 0, 0);
}

/********************
Orders Styles
********************/
.nav-pills {
    margin-bottom: 10px;
}
.nav-pills > li {
    float: left;
}
.nav > li {
    position: relative;
    display: block;
}
.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
    color: #ffffff;
    background-color: #2196f3;
}
.nav-pills > li > a {
    border-radius: 3px;
}
.nav > li > a {
    position: relative;
    display: block;
    padding: 10px 15px;
}
.nav > li > a:hover, .nav > li > a:focus {
    text-decoration: none;
    background-color: #eeeeee;
}
.btn-link:hover, .btn-link:active:hover {
    background-color: #f0f0f0;
}
.btn-link {
    border-radius: 3px;
    -webkit-box-shadow: none;
    box-shadow: none;
    color: #444444;
}


/* ADMIN STYLING */



/* Date Picker Start */


  @media screen and (min-width: 400px) {
	#flight-datepicker {
	  display: -webkit-box;
	  display: -ms-flexbox;
	  display: flex;
	}
  }
  #flight-datepicker .form-item {
	position: relative;

  }
  
  #flight-datepicker label {
	display: block;
	margin-bottom: 8px;
	color: white;
  }
  #flight-datepicker input {
	display: block;

	width: 100%;
	font-family: inherit;
	font-size: 16px;


	color:  #0070c9;
	background-color: transparent;
	border: none;
	border: 1px solid  #0070c9 !important;
	border-radius: 0;
	outline: none;
	-webkit-transition: border-color .2s ease-out;
	transition: border-color .2s ease-out;
	padding: 22px 10px !important;
  }
  input#start-date::placeholder {
   	color:  #0070c9 !important;
    font-size: 20px;

}
  #flight-datepicker input:first-child, #flight-datepicker input:last-child {
	border-radius: 0;
  }
  #flight-datepicker input::-webkit-input-placeholder {
	color: #0e3e43;
	font-size: 17px;
	line-height: 30px;
	-webkit-transition: color .2s .2s ease-out;
	transition: color .2s .2s ease-out;
  }
  #flight-datepicker input:-moz-placeholder {
	color: #0e3e43;
	font-size: 14px;
	line-height: 30px;
	-webkit-transition: color .2s .2s ease-out;
	transition: color .2s .2s ease-out;
  }
  #flight-datepicker input::-moz-placeholder {
	color: #0e3e43;
	font-size: 14px;
	line-height: 30px;
	-webkit-transition: color .2s .2s ease-out;
	transition: color .2s .2s ease-out;
  }
  #flight-datepicker input:-ms-input-placeholder {
	color: #0e3e43;
	font-size: 14px;
	line-height: 30px;
	-webkit-transition: color .2s .2s ease-out;
	transition: color .2s .2s ease-out;
  }
  #flight-datepicker input:focus {
	border-bottom-color: #125259;
  }
  #flight-datepicker input:focus::-webkit-input-placeholder {
	color: transparent;
	-webkit-transition: color .2s ease-out;
	transition: color .2s ease-out;
  }
  #flight-datepicker input:focus:-moz-placeholder {
	color: transparent;
	-webkit-transition: color .2s ease-out;
	transition: color .2s ease-out;
  }
  #flight-datepicker input:focus::-moz-placeholder {
	color: transparent;
	-webkit-transition: color .2s ease-out;
	transition: color .2s ease-out;
  }
  #flight-datepicker input:focus:-ms-input-placeholder {
	color: transparent;
	-webkit-transition: color .2s ease-out;
	transition: color .2s ease-out;
  }
  #flight-datepicker .date-text {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
	top: calc(100% + 6px);
	font-size: 12px;
	color: white;
  }
  @media screen and (min-width: 400px) {
	#flight-datepicker .date-text {
	  top: 100%;
	}
  }

  .datepicker.dropdown-menu {
	padding: 0;
	background-clip: border-box;
	border: none;
	border-radius: 0;
	-webkit-animation: popup .2s ease-out forwards;
			animation: popup .2s ease-out forwards;
  }
  .datepicker.dropdown-menu table {
	background-color: #2970c9;
  }
  .datepicker.dropdown-menu table thead {
	background-color: #2970c9;
  }
  .datepicker.dropdown-menu table thead tr {
	border-top: 0;
  }
  .datepicker.dropdown-menu table tbody {
	background-color: white;
  }
  .datepicker.dropdown-menu table tr {
	border-top: 1px solid #ededed;
  }
  .datepicker.dropdown-menu table tr td, .datepicker.dropdown-menu table tr th {
	width: auto;
	height: 24px;
	padding: 8px;
	font-size: 16px;
	border-radius: 0;
	-webkit-transition: background-color .6s ease-out;
	transition: background-color .6s ease-out;
  }
  @media screen and (min-width: 400px) {
	.datepicker.dropdown-menu table tr td, .datepicker.dropdown-menu table tr th {
	  padding: 12px;
	}
  }
  .datepicker.dropdown-menu table tr td:hover, .datepicker.dropdown-menu table tr td.active:hover, .datepicker.dropdown-menu table tr td:active:hover, .datepicker.dropdown-menu table tr th:hover, .datepicker.dropdown-menu table tr th.active:hover, .datepicker.dropdown-menu table tr th:active:hover {
	border-color: #ededed;
	border-radius: 0;
	-webkit-transition: background-color .2s ease-out;
	transition: background-color .2s ease-out;
  }
  .datepicker.dropdown-menu table tr td.focused, .datepicker.dropdown-menu table tr td.selected, .datepicker.dropdown-menu table tr th.focused, .datepicker.dropdown-menu table tr th.selected {
	background-color: #2970c9;
	border-color: #ededed;
	border-radius: 0;
  }
  .datepicker.dropdown-menu table tr td.active, .datepicker.dropdown-menu table tr td.active:focus, .datepicker.dropdown-menu table tr td.active.active:hover, .datepicker.dropdown-menu table tr td:active:focus, .datepicker.dropdown-menu table tr td.highlighted, .datepicker.dropdown-menu table tr th.active, .datepicker.dropdown-menu table tr th.active:focus, .datepicker.dropdown-menu table tr th.active.active:hover, .datepicker.dropdown-menu table tr th:active:focus, .datepicker.dropdown-menu table tr th.highlighted {
	background-color: #2970c9;
	border-color: #ededed;
  }
  .datepicker.dropdown-menu table tr th.datepicker-switch {
	font-size: 12px;
	font-weight: bold;
	line-height: 2;
	text-transform: uppercase;
	letter-spacing: .05em;
	color: #ffffff;
	background-color: inherit;
	border-radius: 0;
  }
  .datepicker.dropdown-menu table tr th.prev,
  .datepicker.dropdown-menu table tr th.next {
	color: #ffffff;
	background-color: #2970c9;
	border-radius: 0;
  }
  .datepicker.dropdown-menu table tr th.dow {
	padding: 2px 12px;
	font-size: 12px;
	line-height: 2;
	color: #ffffff;
	background-color: #2970c9;
	border-top: 1px solid #2970c9;
	border-radius: 0;
  }
  .datepicker.dropdown-menu table tr td.day {
	width: 24px;
	border-right: 1px solid #ededed;
  }
  .datepicker.dropdown-menu table tr td.day:last-child {
	border-right-width: 0;
  }
  .datepicker.dropdown-menu table tr td.range {
	background-color: #eeeeee;
  }
  .datepicker.dropdown-menu .new,
  .datepicker.dropdown-menu .old,
  .datepicker.dropdown-menu .disabled,
  .datepicker.dropdown-menu .disabled:hover {
	color: #ccc;
  }

  [class*="fontawesome-"]:before {
	font-family: 'FontAwesome', sans-serif;
  }

  .fontawesome-calendar {
	position: absolute;
	top: 26px;
	right: 0;
	font-size: 24px;
	z-index: -99;
  }

  @-webkit-keyframes popup {
	from {
	  opacity: 0;
	  -webkit-transform: translateY(12px);
			  transform: translateY(12px);
	}
	to {
	  opacity: 1;
	  -webkit-transform: translateY(0);
			  transform: translateY(0);
	}
  }

  @keyframes popup {
	from {
	  opacity: 0;
	  -webkit-transform: translateY(12px);
			  transform: translateY(12px);
	}
	to {
	  opacity: 1;
	  -webkit-transform: translateY(0);
			  transform: translateY(0);
	}
  }

  .z-index-class{
	z-index: 101 !important;
}
button:disabled{
	cursor: not-allowed !important;
}
  /* End Date Picker */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
