<main>
    <section>
        <div class="container-fluid">
            <div class="row no-gutters">
                <ul class="nav nav-pills">
                    <li class="nav-item">
                        <a class="nav-link btn btn-default"  data-toggle="modal" data-target="#add-payment">Add
                            payment</a>
                    </li>
                </ul>
                <ul class="nav nav-pills ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" >Export</a>
                    </li>
                    <li class="nav-item">
                        <div class="input-group">
                            <input type="text" name="search" class="form-control" value="" placeholder="Search users"
                                aria-controls="example">
                            <span>
                                <div class="dropdown">
                                    <button class="btn btn-default dropdown-toggle" type="button"
                                        id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                                        aria-expanded="false" style="padding: .475rem .75rem !important">
                                        User
                                    </button>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                        <a class="dropdown-item" >Payment ID</a>
                                        <a class="dropdown-item" >Memo</a>
                                        <a class="dropdown-item" >Payment IP</a>
                                    </div>
                                </div>
                            </span>
                            <span class="input-group-btn">
                                <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                            </span>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="container-fluid">
            <table id="example" class="table">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>User</th>
                        <th>Balance</th>
                        <th>Account</th>
                        <th class="dropdown-th">
                            <div class="dropdown">
                                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenuButton"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Method
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <a class="dropdown-item" >All(2)</a>
                                    <a class="dropdown-item" >Stripe Checkout(1)</a>
                                    <a class="dropdown-item" >Free(2)</a>
                                </div>
                            </div>
                        </th>
                        <th class="dropdown-th">
                            <div class="dropdown">
                                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenuButton"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Status
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <a class="dropdown-item" >All(3)</a>
                                    <a class="dropdown-item" >Waiting(0)</a>
                                    <a class="dropdown-item" >Completed(2)</a>
                                    <a class="dropdown-item" >Pending(1)</a>
                                    <a class="dropdown-item" >Fail(0)</a>
                                    <a class="dropdown-item" >Expired(0)</a>
                                    <a class="dropdown-item" >Hold(0)</a>
                                </div>
                            </div>
                        </th>
                        <th class="dropdown-th">
                            <div class="dropdown">
                                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenuButton"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Fraud risk
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <a class="dropdown-item" >All(3)</a>
                                    <a class="dropdown-item" >None(3)</a>
                                    <a class="dropdown-item" >Unknown(0)</a>
                                    <a class="dropdown-item" >High(0)</a>
                                    <a class="dropdown-item" >Critical(0)</a>
                                </div>
                            </div>
                        </th>
                        <th>Memo</th>
                        <th>Created</th>
                        <th>Updated</th>
                        <th class="dropdown-th">
                            <div class="dropdown">
                                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenuButton"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Mode
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <a class="dropdown-item" >All(3)</a>
                                    <a class="dropdown-item" >Manual(2)</a>
                                    <a class="dropdown-item" >Auto(1)</a>
                                </div>
                            </div>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>mohsin</td>
                        <td>0.00</td>
                        <td>10.00</td>
                        <td>Free</td>
                        <td>Completed</td>
                        <td></td>
                        <td></td>
                        <td>2020-05-17 17:02:00</td>
                        <td></td>
                        <td>Manual</td>
                        <td>
                            <div class="dropdown">
                                <button class="btn btn-default btn-sm dropdown-toggle" type="button"
                                    id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                                    aria-expanded="false">
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <a class="dropdown-item" >Edit</a>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>mohsin</td>
                        <td>0.00</td>
                        <td>10.00</td>
                        <td>Free</td>
                        <td>Completed</td>
                        <td></td>
                        <td></td>
                        <td>2020-05-17 17:02:00</td>
                        <td>2020-05-17 17:02:00</td>
                        <td>Auto</td>
                        <td>
                            <div class="dropdown">
                                <button class="btn btn-default btn-sm dropdown-toggle" type="button"
                                    id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                                    aria-expanded="false">
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <a class="dropdown-item" >Complete payment</a>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>mohsin</td>
                        <td>0.00</td>
                        <td>10.00</td>
                        <td>Free</td>
                        <td>Completed</td>
                        <td></td>
                        <td></td>
                        <td>2020-05-17 17:02:00</td>
                        <td></td>
                        <td>Manual</td>
                        <td>
                            <div class="dropdown">
                                <button class="btn btn-default btn-sm dropdown-toggle" type="button"
                                    id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                                    aria-expanded="false">
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <a class="dropdown-item" >Edit</a>
                                </div>
                            </div>
                        </td>
                    </tr>

                </tbody>
            </table>

        </div>
    </section>
</main>



<div class="modal fade" id="add-payment" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add payment</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="username" class="col-form-label">Username</label>
                        <input type="text" class="form-control" id="username">
                    </div>
                    <div class="form-group">
                        <label for="amount" class="col-form-label">Amount</label>
                        <input type="text" class="form-control" id="amount">
                    </div>
                    <div class="form-group">
                        <label for="firstname" class="col-form-label">First name</label>
                        <select class="form-control">
                            <option>Other</option>
                            <option>Bonus</option>
                            <option>Free</option>
                            <option>Payoneer</option>
                            <option>Stripe</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="memo" class="col-form-label">Memo</label>
                        <input type="text" class="form-control" id="memo">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary">Add payment</button>
            </div>
        </div>
    </div>
</div>
